body{
    padding: 0;
    margin: 0;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8dca9;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

.fooldal-szov{
    color: green;
}

.fooldal-navigation{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.fooldal-menu{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    color: rgb(132, 230, 132);
}

.fooldal-menupont{
    padding: 50px;
}

.fooldal-menupont:hover{
    color: rgba(86, 128, 24, 0.705);
}

a:visited{
    color: rgb(21, 100, 21);
}


.fooldal-article{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.fooldal-aside{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

/*slideshow starts*/
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/*css for manual slide navigation*/
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40ox;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(73, 202, 79);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for manual slide navigation ends*/

/*css for automatic navigation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    /* border: 2px solid black; */
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

/*
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: blueviolet;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: blueviolet;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: blueviolet;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: blueviolet;
}
*/

/*css for automatic navigation ends*/

/*slideshow ends*/
