article p {
    
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslategrey;
    padding: 10px;
    
}

article h1 {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    padding: 10px;
}

article {
  
    background-color: ghostwhite;
}

article li {
    color: black;
    display: block;
}

article h2 {
    color: red;
}

main {max-width: 800px; margin: auto;}
section {margin: 10px; padding: 5px;}

.kepek img{width: 100%; float: left; max-width: 300px;}