article p {
    
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: darkslategrey;
    padding: 10px;
    width: fit-content;
    
}

article {
  
    background-color: ghostwhite;
}



li  {float: initial; width: fit-content; margin-left: 50px; padding-right: 30px;}

main {max-width: 800px; margin: auto;}
section {margin: 10px; padding: 20px; width: fit-content;}

.kepek img{width: 100%; float: left; max-width: 350px; margin-left: 25px;  border-radius: 40px; padding: 30px;}

