article p {
    
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: pink;
}

article h1 {
    
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
}

article {
  
    background-color: ghostwhite;
}

article li {
    color: blue;
}

article h2 {
    color: red;
}

main {max-width: 800px; margin: auto;}