#jatekoldal #fotarolo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 20px;
}

#jatekoldal .keptarolo {
    height: 200px;
}


#jatekoldal a {
    width: 150px;
    margin: auto;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(245, 227, 165);
    font-weight: bold;
    text-decoration: none;
    color: black;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}

#jatekoldal a:hover {
    background-color: rgb(237, 205, 101);

}

#jatekoldal a:active {
    background-color: rgb(252, 215, 91);
}