

button{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

main{
    border: 1px solid black;
    margin: auto;
    max-width: 60%;
    background-color: wheat;
}

article img{
    width: 100%;
}


#inp img {
    border: 2px solid black;
}

#kivalasztott {
    border: 1px solid black;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#tartalom{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.column{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 100%;
}

.contaienr div{
    align-items: center;   
}

.kepek{
    
}

.row img{
    border: 1px solid black;
    margin: 2px;
    width: 100%;
}

.gomb{
    width: 10%;
}

.galeria img{
    width: 100%;
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
}

section div{
    width: 32%;
}

section img {
    width: 100%;
}

@media screen and (max-width:600px){
    main {
        max-width: 500px;
    }

    section div{
        width: 50%;
    }
    
    #inp img {
        border: 1px solid black;
    }
    
}

@media screen and (max-width:300px){
    main {
        max-width: 300px;
    }

    section div{
        width: 80%;
    }
}